*
{
    margin: 0;
    padding: 0;

}

.drop-zone
{
    width: auto;
    min-height: 200px;
    border: 2px dashed #3276bea3;
    border-radius: 26px;
    margin: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center
{
    text-align: center;
    margin: 12px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #aae2e7;
}
.container
{

    background-color: #b6e1a766;
    
    border-radius: 26px;
    box-shadow: 0px 18px 22px #000000ba;
    display: flex;
    width: 512px;
}
#image-box {
    width: 100px;
    height: 100px;
    margin:4px;
}
#lower
{
    font-size: 2rem;
    margin: 12px;
}
.dragged
{
    background-color: #aae2e7;
}
#input-file
{
    display: none;
}
#input-btn
{
    cursor: pointer;
    color: #3276bea3;;
}
.drop-zone{
    
}